// Color palette
$color-gold: #ffd700;
$color-dark-green: #425f58;
$color-primary: #0d6efd !default;
$color-secondary: #6c757d !default;
$color-success: #198754 !default;
$color-info: #0dcaf0 !default;
$color-warning: #ffc107 !default;
$color-danger: #dc3545 !default;
$color-light: #f8f9fa !default;
$color-dark: #212529 !default;
$color-grreenish: #495e57;
$color-cultured: #f4f4f4 !default;
$color-dark-charcoal: #333 !default;
$color-simpleBlack: #7a7a7a !default;

// Footer-specific variables
$footer-background-color: #212529 !default;
$footer-text-color: #f8f9fa !default;

// Define additional color variables
$color-accent: #fe6f27;
$color-medium-gray: #555;
$color-dark-gray: #333;
$color-dark: #2e2828;
$color-warning: #f0c14b;
$color-simpleBlack: #000000;

// Footer colors
$dark-color: #333;
$primary-color: #c72727;
$main-color: #ffbc00;

// Header-specific variables
$header-background-color: #f5f8fa !default;
$header-SearchBar-bg-color: #f2f2f2;
$header-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3) !default;
